/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'digital_dreamregular';
    src: url('../fonts/DIGITALDREAM-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    height: 100%;
    position: relative;
}

h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
    position: absolute;
    width: 75%;
    z-index: 3;
}

h1.share-title {
    color: #111;
    left: 50px;
    padding: 10px;
    top: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #eee;
    height: 58px;
    width: 100%;
}

#wrapper {
    background-color: #111;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0 auto;
    max-width: 1020px;
    min-width: 320px;
    position: relative;
    width: 100%;
}

a.back {
    color: #111;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    height: 59px;
    line-height: 3.5rem;
    padding: 0 10px;
    text-align: center;
    width: 30px;
}

.error {
    margin: 30px 0;
    line-height: 2rem;
}

.error-page {
    margin: 80px 20px 10px 20px;
}

.error-page > p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.error-page a {
    color: #c1ea1c;
}

.title {
    font-family: 'digital_dreamregular';
    letter-spacing: 0.05rem;
}

button {
    background-color: #222;
    border: 2px solid #333;
    color: #fff;
    display: block;
    font-size: 2rem;
    margin: 20px auto 10px auto;
    padding: 5px 10px;
    width: 100px;
}

button:hover {
    background-color: #8cff71;
    color: #3a8628;
}

form input {
    background-color: #c5fcff;
    border: 0;
    font-size: 1.2em;
    margin: 3px 0 0;
    padding: 10px 5px;
    width: 100%;
}

form input:last-child {
    background-color: #fdff71;
}

#url.error {
    background-color: #ff7777;
    line-height: auto;
    margin: 3px 0 0;
}

.videos {
    float: left;
    width: 100%;
}

.videos > li {
    float: left;
    height: 0;
    margin: 1% 0 0 1%;
    min-width: 300px;
    overflow: hidden;
    padding-bottom: 25.25%;
    position: relative;
    width: 48%;
}

.video {
    background-color: #111;
    float: left;
    height: 0;
    min-width: 320px;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

.video iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.videos li .preview {
    width: 100%;
}

.avatar {
    border-radius: 100px;
    width: 80px;
    z-index: 4;
}

.videos .avatar {
    bottom: 5px;
    cursor: pointer;
    opacity: 0.6;
    position: absolute;
    right: 5px;
    width: 50px;
}

.videos li:hover .avatar {
    opacity: 1.0;
}

.actions .avatar {
    display: inline-block;
    float: right;
    margin-right: 20px;
    width: 70px;
}

a.header, a.bookmarklet {
    color: #111;
    display: inline-block;
    font-size: 1.3rem;
    height: 18px;
    line-height: 1.2rem;
    padding: 20px;
}

a.bookmarklet {
    font-size: 1rem;
}

a.header:hover, a.back:hover {
    background-color: #fff;
}

.authenticate {
    float: right;
    text-align: center;
    width: 159px;
    z-index: 2;
}

.authenticate li {
    display: inline;
    float: right;
    position: relative;
}

.authenticate li a {
    background-color: #111;
    color: #eee;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1rem;
    height: 35px;
    margin-left: 3px;
    padding: 20px 8px 0 8px;
    width: 80px;
}

.tip {
    background-color: #f00;
    color: #fff;
    display: none;
    font-family: Arial;
    font-size: 1rem;
    left: -160px;
    line-height: 1.2rem;
    position: absolute;
    text-align: left;
    top: 55px;
    z-index: 4;
    width: 219px;
}

.tip div {
    padding: 10px;
}

.tip .second {
    background-color: #ff7373;
}

.tip textarea {
    border: 0;
    height: 35px;
    resize: none;
    width: 100%;
}

.authenticate li a.add {
    font-size: 1.5rem;
    width: 40px;
}

.authenticate li.add-parent:hover .tip {
    display: block;
}

.authenticate li a:hover {
    background-color: #fff;
    color: #111;
}

.authenticate li a.add:hover {
    background-color: #fdff59;
}

.content {
    background-color: #111;
    float: left;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
    width: 100%;
}

main {
    float: left;
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
}

.actions {
    float: left;
    font-family: 'digital_dreamregular';
    margin: 0 0 20px 0;
    width: 100%;
}

.actions img {
    margin: 15px 20px;
}

.actions .details {
    clear: both;
    color: #fff;
    float: left;
    font-size: 0.9rem;
    margin: 15px 20px;
}

.actions a {
    font-size: 0.9rem;
    display: inline-block;
    padding: 15px 20px;
}

.actions .delete {
    background-color: #f00;
    color: #ffcdcd;
    display: inline-block;
    float: left;
    margin-top: 25px;
}

.actions .delete:hover {
    background-color: #fff;
    color: #f00;
}

.pagination {
    float: left;
    width: 100%;
}

.pagination a {
    color: #fff;
    display: inline-block;
    font-family: 'digital_dreamregular';
    font-size: 1.9rem;
    margin: 20px;
    padding: 10 20px;
}

.pagination a:hover {
    color: #c1ea1c;
}

.pagination .prev {
    float: left;
}

.pagination .next {
    float: right;
}

@media only screen and (max-width: 815px) {
    h1 {
        font-size: 1.3rem;
        width: 65%;
    }
}

@media only screen and (max-width: 615px) {
    h1 {
        font-size: 1.1rem;
        width: 65%;
    }

    .actions .details {
        font-size: 0.8rem;
    }

    .actions a {
        font-size: 0.8rem;
        padding: 10px 20px;
    }

    .actions img.avatar {
        width: 50px;
    }

    .authenticate {
        clear: both;
        width: 100%;
    }

    .error-page > p {
        font-size: 1rem;
    }

    .videos > li {
        padding-bottom: 56.25%;
        margin: 1% 0;
        width: 100%;
    }
}
