<ul class="videos">
  <li ng-repeat="post in posts track by $index">
    <a href="/v/{{ post.id }}" ng-if="isVimeo(post)">
      <img src="{{ post.src }}" class="preview">
    </a>
    <a href="/v/{{ post.id }}" ng-if="isYoutube(post)">
      <img src="{{ post.src }}" class="preview">
    </a>
    <a href="/v/{{ post.id }}">
      <img class="avatar" src="{{ post.content.message }}">
    </a>
  </li>
</ul>

<div class="pagination">
  <a href="/?page={{ prev }}" class="prev" ng-if="secondaryPage()">Prev</a>
  <a href="/?page={{ next }}" class="next" ng-show="next">Next</a>
</div>
